.flag{
    width: 15px;
    height: 10px;
}
ul{
    list-style: none;
    padding: 0;
    /* max-height: 500px; */
    overflow-y: scroll;
}


.pick{
    text-shadow: 0px 0px 5px #fff;
    color: lightskyblue;
}